:root {
    --cor-primaria-1:#6F1D1B;
    --cor-primaria-2:#432818;
    --cor-primaria-3:#99582A;
    --cor-primaria-4:#BB9457;
    --cor-bg:#FFE6A7;

    --cor-branco: #fff;
    --cor-preto: #1d1d1d;
    --cor-sombra:rgba(0,0,0,0.15);
    --cor-texto:#333;

    --fonte:"Poppins", sans-serif;

    --raio: 12pix;
    --trasinton: 0.3s ease;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var (--fonte);
     background: #3F5EFB;
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%,
 rgba(252, 70, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
